
html {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}


	body {
		margin:0.5%;
		width: 96vw;
		height: 96vh;
		background: linear-gradient(-45deg, #5264ee, #5e3ce7, #23a6d5, #23a4d5);
		background-size: 400% 400%;
		animation: gradient 15s ease infinite;
	}

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}


		.noRot{
			-ms-transform: rotate(0); /* IE 9 */
			-webkit-transform: rotate(0); /* Chrome, Safari, Opera */
			transform: rotate(0);		
			margin-top:0px;
			margin-left:0px;

		}
		
		.siRot{
			-ms-transform: rotate(90deg); /* IE 9 */
			-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
			transform: rotate(90deg);	
			margin-top:0px;
			margin-left:0px;
			
		}
		
	.nodisplay {
		width: 0px;
		height: 0px;
		overflow:hidden;
	}

	.display{
		display: block;
	}
	
	.hidden{
		visibility: hidden;
	}
	
	.inreg{
		width: 99vw; /*IR*/
		height:6vh;
		min-height: 6vw;
		display:block;	
		margin-top: 1vh;
	}
	
	.inLog{
		width: 80%; /*IR*/
		height:100%;
		font-size:3vw;
		display:block;
		background-color:#333;
		text-align: left;
		padding: 0%;
		line-height: 0.5%;
		border-radius:3vh 0vh 0vh 3vh;
		float:left; 
		margin-left: 5%;
		cursor: pointer;
		transition: box-shadow 0.7s ease;
		color: white;
		text-align: center;
	}
	
	.inMin{
		width: 10%; /*IR*/
		height:100%;
		font-size:3vw;
		display:block;
		background-color:#333;
		text-align: left;
		padding: 0%;
		line-height: 0.5%;
		border-radius:0vh 3vh 3vh 0vh;
		float:left; 
		cursor: pointer;
		transition: box-shadow 0.7s ease;
		color: white;
		text-align: center;
	}

	.inlab{
		width: 13%; /*IR*/
		height:100%;
		font-size:3vw;
		display:block;
		background-color:#333;
		text-align: left;
		padding: 0%;
		line-height: 0.5%;
		border-radius:3vh 0vh 0vh 3vh;
		margin-left: 5%;
		float:left; 
		cursor: pointer;
		transition: box-shadow 0.7s ease;
		color: white;
		text-align: center;
		
		
	}
	.inInp{
		width: 20%; /*IR*/
		height:100%;
		font-size:3vw;
		display:block;
		background-color:#333;
		text-align: left;
		padding: 0%;
		line-height: 0.5%;
		border-radius:0vh 3vh 3vh 0vh;
		float:left; 
		margin-right: calc((15% - 7vh)/2);
		cursor: pointer;
		transition: box-shadow 0.7s ease;
		color: white;
		text-align: center;
	}
	
	
	.inAdd{
		width: 7vh; /*IR*/
		height:7vh;
		min-height:6vw;
		min-width:6vw;
		font-size:3vw;
		display:block;
		background-color:#333;
		text-align: left;
		padding: 0%;
		line-height: 0.5%;
		border-radius:50%;
		float:left; 
		margin-top:0.3%;
		cursor: pointer;
		transition: box-shadow 0.7s ease;
		color: white;
		text-align: center;
	}
	.contPC{
		width: 100vw; 
		height:100vh;
		margin-top: -1vh;
		margin-left: -0.5vw;
	}

	.center{
	
		width: 100%; /* You must set a specified height */
		height:80vh;
		float: left;
		background-size:cover;
		/*background-image: url("../img/center.png");  The image used */
		background-position: center; /* Center the image */
	}
		.up{

			width: 100%; /* You must set a specified height */
			height:8vh;
			float: left;
			background-color: #FFFFFF; /* Used if the image is unavailable */
		}
		
			.icoCont{

				width: 7vh; /* You must set a specified height */
				height:7vh;
				float: left;
				overflow:hidden;
				margin-left: 1vw;
				margin-top:0.25vh;
				border: 2px solid gray;
				border-radius: 5px;
				background-color: #FFFFFF; /* Used if the image is unavailable */
			}
			
			.ico{
				width: 100%; /* You must set a specified height */
				height:100%;
				margin-left: 0%;
			}
			
			
			.tit{
				float: left;
				margin-top: 1vh;
				margin-left: 1vw;
				font-weight: bold;
				font-size: 6vh;
				text-transform: capitalize;
				color: white;
				font: "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
				-webkit-text-stroke: 1px black;

			}
			
			.ftit{
				 color: blue;
			}
			
			.clbr{
				height:95%;	
				float: right;
			}
			
				.left{
					width: 15%; /* You must set a specified height */
					height:100%;
					float: left;
					/*//background-image: url("../img/imgleft.png");  The image used */
					background-size: 100%;
					/*background-color: #FFFFFF;  Used if the image is unavailable */
					background-position: center; /* Center the image */
					background-repeat: repeat; /* Do not repeat the image */
				}
					.menu{
						margin-top:10vh;
						margin-left:1vw;
						width: 100%; /* You must set a specified height */
						height:100%;
						float: left;		
					}
					.mw{
						font-family: "Arial Black", Gadget, sans-serif;
						text-transform: capitalize;
						text-align: center;
						font-size: 3vh;
						color: rgb(255, 255, 255);
						text-shadow: rgb(0, 0, 0) 2px 2px 2px;
						 -webkit-text-stroke: 1px black;
					}		
					.mw:hover {
						text-shadow: 1px 1px 2px black, 0 0 1em #FFFFFF, 0 0 1em #FFFFFF;
						animation: gradientext 5s ease infinite;
					}
			
								

					@keyframes gradientext {
						0% {
							text-shadow: 1px 1px 2px black, 0 0 2em #FFFFFF, 0 0 0.2em #FFFFFF;
						}
						25%{
							text-shadow: 1px 1px 2px black, 0 0 2em #FFFFFF, 0 0 0.5em #FFFFFF;
						}
						50% {
							text-shadow: 1px 1px 2px black, 0 0 2em #FFFFFF, 0 0 1em #FFFFFF;
						}
						75%{
							text-shadow: 1px 1px 2px black, 0 0 2em #FFFFFF, 0 0 0.5em #FFFFFF;
						}
						100% {
							text-shadow: 1px 1px 2px black, 0 0 2em #FFFFFF, 0 0 0.2em #FFFFFF;
						}
					}
			
			
		.cc{
			width: 85%; /* You must set a specified height */
			height:68vh;
			float: left;
			text-align: center;
			overflow:hidden;
			
		}
				.slidepage{
					margin-top: 0;	
					width: 100%;
					height:68vh;
					float:left;    
					position: relative;	
					overflow-x: hidden;
					overflow-y: scroll;
				}
		
				/* Tamaño del scroll */
				.slidepage::-webkit-scrollbar {
				  width: 1vw;
				  height: 1vh;
				}

				 /* Estilos barra (thumb) de scroll */
				.slidepage::-webkit-scrollbar-thumb {
				  background:linear-gradient(-45deg, #23a6d5, #5264ee, #23a6d5);;

				  border-radius: 4px;
				  height: 8px;

				}

				.slidepage::-webkit-scrollbar-thumb:active {
				  	background-color:rgba(0, 0, 0, 0);

				}

				.slidepage::-webkit-scrollbar-thumb:hover {
				  background: #b3b3b3;
				  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
				}

				 /* Estilos track de scroll */
				.slidepage::-webkit-scrollbar-track {
				  background-color:rgba(0, 0, 0, 0);
				  border-radius: 4px;
				}

				.slidepage::-webkit-scrollbar-track:hover, 
				.slidepage::-webkit-scrollbar-track:active {
				  background-color:rgba(0, 0, 0, 0);
				}
		
		
		.dwnldCont{
			width: 85%; /* You must set a specified height */
			height:10vh;
			float: left;
			text-align: center;
			overflow:hidden;
		}
			.dwnld{
				height:75%;	
			}
		.down{
			width: 100%; /* You must set a specified height */
			height:12vh;
			float: left;
			background-color: #FFFFFF; /* Used if the image is unavailable */
			text-align: center;
			
		}
			
	.right{
		width: 10%; /* You must set a specified height */
		height:100%;
		float: left;
		background-size:100%;
		background-image: url("../img/imgleft.png"); /* The image used */
		background-color: #cccccc; /* Used if the image is unavailable */
		background-position: center; /* Center the image */
		background-repeat: repeat; /* Do not repeat the image */
		 -webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}



.initxt{				
		font-weight: bold;
		font-size: 4vh;
		color: white;
		font: "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
		/*-webkit-text-stroke: 1px black;*/
		text-align: center;
}

.initxtm{
	color: black;
}

.iniimg{
	float: center;
	height:40vh;
}

.initxtT{				
		font-weight: bold;
		font-size: 5vh;
		color: white;
		font: "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
		text-align: center;
		text-decoration-line: underline;
}
